PORT=8080
MONGO_URL=mongodb://127.0.0.1:27017/NESTHUNT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_cloud_api_key
CLOUD_API_SECRET=your_cloud_api_secret
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@<your_cloud_name>
MAP_TOKEN=your_mapbox_token_here
